<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <button mat-icon-button color="secondary" routerLink="inicio" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button class="navbar" routerLink="inicio">Inicio</button>
      <button mat-button class="navbar" routerLink="galeria">Galeria</button>
      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
